@media screen and (max-width: 400px) {
  .client-logos {
    background-image: url(../images/hero-hex-bg-trans-smaller-portrait.png);
  }
  .client-logos {
    background-image: url(../images/hero-hex-bg-trans-smaller-portrait.png);
  }
}
@media screen and (min-width: 400px) {
  .client-logos {
    background-image: url(../images/hero-hex-bg-trans-smaller.png);
  }
  .client-logos {
    background-image: url(../images/hero-hex-bg-trans-smaller.png);
  }
}

@media screen and (max-width: 480px) {
  .orbit-caption p {
    font-size: 18px;
    position: relative;
    top: -50px;
    margin-bottom: -2.75rem;
  }
  .orbit-caption h2 {
    font-size: 18px;
    position: relative;
    top: -50px;
  }
  .orbit-caption p {
    font-size: 18px;
    position: relative;
    top: -50px;
    margin-bottom: -2.75rem;
  }
  .orbit-caption h2 {
    font-size: 18px;
    position: relative;
    top: -50px;
  }
}

@media screen and (max-width: 600px) {

    .footer .columns {
      margin-bottom: 50px;
    }
    .page-content .row .copy {
        flex-grow: 1;
        padding-top: 0px !important;
    }

    .desktop-excerpt {
      display: none;
    }
    .page-content {
      display: inline-block;
    }
    .page-content .right {}
    .page-content .left {}
    .page-content .row {
      margin: 100px auto;
      display: contents;
      position: relative;
    }
    .page-content-row img {
      margin: 0 auto;
      max-width: 300px;
      display: none;
    }
    .page-content .row .copy {
      flex-grow: 1;
      padding-top: 5%;
      padding-left: 5%;
      padding-right: 5%;
    }
    .page-content .button {
      margin: 20px auto 0;
      display: table;
    }
    .left, .right {
      float: none !important;
    }
    .large-3 {
      display: none;
    }
    .cta-arrow {
      text-align: center;
    }
    .time-bubble {
      background: #343d4f;
      height: 300px;
      width: 300px;
      border-radius: 500px;
      /* box-shadow: 0px 0px 50px #333333; */
      margin-bottom: 50px;
    }
    .time-bubble .stats {
      text-align: center;
    }
    .time-bubble .stats h3 {
      font-size: 50px;
      color: #FFF;
      padding-top: 80px;
    }
    .time-bubble .stats p {
      display: inline-block;
      width: 200px;
      color: #FFF;
    }
    .time-line {
      margin: 0px auto;
      display: flex;
      justify-content: center;
    }
    hr {
      border: 0;
      height: 1px;
      background: black;
      position: absolute;
      top: 1px;
      width: 100%;
    }
    .time-line {
      position: relative;
      margin-left: 2%;
    }
    .time-wrap {
      padding: 0 10px;
      justify-content: space-between;
      position: relative;
    }
    .time-line::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      border-left: 13px solid #e63375;
      background: #e63375;
      width: 100%;
      transform: translateX(50%);
      border-radius: 100px;
    }
    .home-testimonial {
      flex-grow: 1;
      background: red;
      position: relative;
      text-align: center;
      padding: 2%;
      background-size: cover;
      background-color: #333333;
      background-blend-mode: soft-light;
      transition-duration: 500ms;
      max-height: 350px;
      float: left;
      margin-bottom: 50px
    }
    .homepage-h1 img {
      display: none;
    }
    .mobile-logo {
      max-width: 150px;
      position: absolute;
      margin-left: 20px;
      margin-top: 20px;
      z-index: 1;
    }
    .support-slip {
      height: fit-content;
    }
    .support-slip .button {
      text-transform: uppercase;
      font-size: 14px;
      padding: 12px 16px 12px;
      background: #e63375;
      color: #fff;
      border-radius: 100px;
      border-color: #e63375;
      /* box-shadow: 5px 5px 20px #33333380; */
      padding: 20px;
      border-width: 2px;
      border-style: solid;
      display: table;
      margin: 25px auto;
      text-align: center;
    }
    .cta-button {
      padding-left: 30px;
      padding-right: 30px;
    }
    .mobile-center {
      display: flex !important;
      justify-content: center;
    }
    .title-area .floating p {
      display: none;
      position: absolute;
    }
    .hero .button {
      margin: 0 auto 10px;
      display: block;
      text-align: center;
      max-width: 211px
    }
    .desktop-excerpt {
      display: none;
    }
    .page-content {
      display: inline-block;
    }
    .page-content .right {}
    .page-content .left {}
    .page-content .row {
      margin: 100px auto;
      display: contents;
      position: relative;
    }
    .page-content-row img {
      margin: 0 auto;
      max-width: 300px;
      display: none;
    }
    .page-content .row .copy {
      flex-grow: 1;
      padding-top: 5%;
      padding-left: 5%;
      padding-right: 5%;
    }
    .page-content .button {
      margin: 20px auto 0;
      display: table;
    }
    .left, .right {
      float: none !important;
    }
    .large-3 {
      display: none;
    }
    .cta-arrow {
      text-align: left;
      padding-left: 20px;
      background: url(/images/border-left-blue.png) no-repeat;
      background-size: 5.9%;
      background-position-x: 50px;
      padding-left: 120px;
      background-position-y: 18px;
    }
    .time-bubble {
      background: #343d4f;
      height: 300px;
      width: 300px;
      border-radius: 500px;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
      margin-bottom: 50px;
    }
    .time-bubble .stats {
      text-align: center;
    }
    .time-bubble .stats h3 {
      font-size: 50px;
      color: #FFF;
      padding-top: 80px;
    }
    .time-bubble .stats p {
      display: inline-block;
      width: 100px;
      color: #FFF;
    }
    .time-line {
      margin: 0px auto;
      display: flex;
      justify-content: center;
    }
    hr {
      border: 0;
      height: 1px;
      background: black;
      position: absolute;
      top: 1px;
      width: 100%;
    }
    .time-line {
      position: relative;
      margin-left: 7%;
    }
    .time-wrap {
      padding: 0 10px;
      justify-content: space-between;
      position: relative;
    }
    .time-line::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      border-left: 13px solid #e63375;
      background: #e63375;
      width: 100%;
      transform: translateX(50%);
      border-radius: 100px;
    }
    .home-testimonial {
      flex-grow: 1;
      background: red;
      position: relative;
      text-align: center;
      padding: 2%;
      background-size: cover;
      background-color: #333333;
      background-blend-mode: soft-light;
      transition-duration: 500ms;
      max-height: 350px;
      float: left;
      margin-bottom: 50px
    }
    .homepage-h1 img {
      display: none;
    }
    .mobile-logo {
      max-width: 150px;
      position: absolute;
      margin-left: 20px;
      margin-top: 20px;
      z-index: 1;
    }
    .support-slip {
      height: fit-content;
    }
    .support-slip .button {
      text-transform: uppercase;
      font-size: 14px;
      padding: 12px 16px 12px;
      background: #e63375;
      color: #fff;
      border-radius: 100px;
      border-color: #e63375;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
      padding: 20px;
      border-width: 2px;
      border-style: solid;
      display: table;
      margin: 25px auto;
      text-align: center;
    }
    .cta-button {
      padding-left: 30px;
      padding-right: 30px;
    }
    .mobile-center {
      display: flex !important;
      justify-content: center;
    }
    .top-bar .name {
      display: none!important;
    }
    .title-area .floating p {
      display: none;
      position: absolute;
    }
    .hero .button {
      margin: 0 auto 10px;
      display: block;
      text-align: center;
      max-width: 211px
    }
    .hero {
      position: relative;
      background-size: cover;
      background-position: bottom;
      height: 50vh;
    }
  }
  .post {
    margin: 60px auto;
    max-width: 75%;
  }
  .post img {
    margin: 0 auto !important;
    display: block !important;
  }
  .post .excerpt img {
    margin: 50px auto !important;
    display: block !important;
    width: auto;
    max-width: 100%;
  }
  .excerpt p {
    font-family: 'roboto', sans-serif;
    font-size: 1.125rem;
    color: #666666;
    padding-bottom: 12px;
    margin: auto;
  }
  .excerpt .button {
    margin-top: 25px;
  }
  .post .info, .post .content {
    margin-left: none !important;
  }
  .timestamp {
    width: 80px;
    border: 1px solid #0fafd4;
    margin-right: 20px;
  }
  .post .info, .post .content {
    text-align: center;
  }
  .post .left {
    float: none !important;
  }
  .post .timestamp {
    align-self: center;
    margin: 10px auto;
  }
  .post {
    margin: 60px auto;
    max-width: 75%;
  }
  .post img {
    margin: 0 auto !important;
    display: block !important;
  }
  .post .excerpt img {
    margin: 50px auto !important;
    display: block !important;
    width: auto;
    max-width: 100%;
  }
  .excerpt p {
    font-family: 'roboto', sans-serif;
    font-size: 1.125rem;
    color: #666666;
    padding-bottom: 12px;
    margin: auto;
  }
  .excerpt .button {
    margin-top: 25px;
  }
  .post .info, .post .content {
    margin-left: none !important;
  }
  .timestamp {
    width: 80px;
    border: 1px solid #0fafd4;
    margin-right: 20px;
  }
  .subscribe-field {
  float: none;
  margin-bottom: 20px
  }
  .subscribe-container {
  text-align: center;
  margin:0 auto;
  }
  .subscribe-title {
  float:none;
  }
  .subscribe-button {
  float: none;
  }
}
@media screen and (min-width: 600px) {

    .support-slip .left-button {
      margin-left: 122px;
    }
    .mobile-excerpt {
      display: none;
    }
    .cta-button {
      margin-left: 80px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .support-slip .button {
      text-transform: uppercase;
      font-size: 14px;
      padding: 10px 20px;
      background: #e63375;
      color: #fff;
      border-radius: 5px;
      border-color: #e63375;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
      border-width: 2px;
      border-style: solid;
      display: table;
      margin: 25px 50px 0px;
      width: 250px;
      text-align: center;
    }
    .support-slip {
      height: 250px;
    }
    .mobile-logo {
      display: none;
      position: absolute;
    }
    .home-testimonial {
      flex-grow: 1;
      background: red;
      position: relative;
      text-align: center;
      padding: 2%;
      background-size: cover;
      background-color: #333333;
      background-blend-mode: soft-light;
      transition-duration: 500ms;
      max-height: 350px;
      float: left;
      max-width: 23%;
      border-radius: 5px;
    }
    .cta-arrow {
      text-align: left;
      padding-left: 20px;
      background: url(/images/border-left-blue.png) no-repeat;
      background-size: contain;
      background-position-x: 0;
      padding-left: 80px;
    }
    .page-content {
      display: inline-block;
    }
    .page-content .right {
      min-width: 50%;
    }
    .page-content .left {
      margin-right: 50px;
      min-width: 50%;
    }
    .page-content .row {
      display: flex !important;
      margin: 100px auto;
    }
    .page-content img {
      max-height: 600px;
      margin: 0 auto;
      display: inherit;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    }
    .page-content .row .copy {
      flex-grow: 1;
      padding-top: 5%;
    }
    .page-content .button {
      margin: 20px 0 0;
      display: table;
      padding: 10px 20px;
    }
    .time-bubble {
      background: #343d4f;
      height: 300px;
      width: 300px;
      border-radius: 5px;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    }
    .time-bubble .stats {
      text-align: center;
    }
    .time-bubble .stats h3 {
      font-size: 50px;
      color: #FFF;
      margin-top: 80px;
    }
    .time-bubble .stats p {
      display: inline-block;
      width: 200px;
      color: #FFF;
    }
    .time-line {
      margin: 75px auto;
    }
    hr {
      border: 0;
      height: 1px;
      background: black;
      position: absolute;
      top: 1px;
      width: 100%;
    }
    .time-line {
      position: relative;
    }
    .time-wrap {
      display: flex;
      justify-content: space-between;
      position: relative;
    }
    .time-line::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      border-top: 13px solid #e63375;
      background: #e63375;
      width: 100%;
      transform: translateY(-50%);
      border-radius: 100px;
    }
    .support-slip .left-button {
      margin-left: 122px;
    }
    .mobile-excerpt {
      display: none;
    }
    .cta-button {
      margin-left: 80px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .support-slip .button {
      text-transform: uppercase;
      font-size: 14px;
      padding: 10px 20px;
      background: #e63375;
      color: #fff;
      border-radius: 100px;
      border-color: #e63375;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
      border-width: 2px;
      border-style: solid;
      display: table;
      margin: 25px 50px 0px;
      width: 250px;
      text-align: center;
    }
    .support-slip {
      height: 250px;
    }
    .mobile-logo {
      display: none;
      position: absolute;
    }
    .home-testimonial {
      flex-grow: 1;
      background: red;
      position: relative;
      text-align: center;
      padding: 2%;
      background-size: cover;
      background-color: #333333;
      background-blend-mode: soft-light;
      transition-duration: 500ms;
      max-height: 350px;
      float: left;
      max-width: 23%;
    }
    .cta-arrow {
      text-align: left;
      padding-left: 20px;
      background: url(/images/border-left-blue.png) no-repeat;
      background-size: contain;
      background-position-x: 0;
      padding-left: 80px;
    }
    .page-content {
      display: inline-block;
    }
    .page-content .right {
      min-width: 50%;
    }
    .page-content .left {
      margin-right: 50px;
      min-width: 50%;
    }
    .page-content .row {
      display: flex !important;
      margin: 100px auto;
    }
    .page-content img {
      max-height: 600px;
      margin: 0 auto;
      display: inherit;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    }
    .page-content .row .copy {
      flex-grow: 1;
      padding-top: 5%;
    }
    .page-content .button {
      margin: 20px 0 0;
      display: table;
      padding: 10px 20px;
    }
    .time-bubble {
      background: #343d4f;
      height: 300px;
      width: 300px;
      border-radius: 500px;
      box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    }
    .time-bubble .stats {
      text-align: center;
    }
    .time-bubble .stats h3 {
      font-size: 50px;
      color: #FFF;
      margin-top: 80px;
    }
    .time-bubble .stats p {
      display: inline-block;
      width: 100px;
      color: #FFF;
    }
    .time-line {
      margin: 75px auto;
    }
    hr {
      border: 0;
      height: 1px;
      background: black;
      position: absolute;
      top: 1px;
      width: 100%;
    }
    .time-line {
      position: relative;
    }
    .time-wrap {
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      position: relative;
    }
    .time-line::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      border-top: 13px solid #e63375;
      background: #e63375;
      width: 100%;
      transform: translateY(-50%);
      border-radius: 100px;
    }
  .post .info, .post .content {
    margin-left: 110px;
  }
  .post .excerpt img {
    margin: 50px auto !important;
    display: block !important;
    max-width: 500px;
  }
  .timestamp {
    width: 80px;
    border: 1px solid #0fafd4;
  }
  .post .info, .post .content {
    margin-left: 110px;
  }
  .post .excerpt img {
    margin: 50px auto !important;
    border-radius: 5px;
    display: block !important;
    max-width: 500px;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
  }
  .timestamp {
    width: 80px;
    border: 1px solid #0fafd4;
    border-radius: 5px;
  }
  .subscribe-field {
  float: left;
  margin-right: 20px;
  }
  .subscribe-title {
  float:left;
  }
  .subscribe-button {
  float: left;
  margin-right: 20px;
  margin-top: 2px;
  }
}

@media screen and (max-width: 910px) {
  .signup-form {
    background: white;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 100px;
    max-width: 90%;
  }
}
@media screen and (max-width: 910px) {
  .signup-form {
    background: white;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 100px;
    max-width: 90%;
  }
}

@media screen and (min-width: 967px) {
  .feature-videos-list {
    flex-direction: row;
  }
  .feature-video-link-container {
    width: 33%;
    padding: 15px;
  }
  p.quote {
    padding: 20px 50px;
  }
  .feature-videos-list {
    flex-direction: row;
  }
  .feature-video-link-container {
    width: 33%;
    padding: 15px;
  }
  p.quote {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 980px) {
 .homepage-h1 img {
   display: none;
 }
}

@media screen and (max-width: 1026px) {
  .whys-bg {
    background: none;
  }
  .whys-bg {
    background: none;
  }
}
@media screen and (min-width: 1026px) {
  .whys-bg {
    background: url(/images/whys-bg-3.jpg) no-repeat center;
  }
  .logo-image {
    max-width: 140px;
    margin: 0 auto;
  }
  .whys-bg {
    background: url(/images/whys-bg-3.jpg) no-repeat center;
  }
  .logo-image {
    max-width: 140px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1030px) {
  .getting-started:after {
    display: none;
  }
  .getting-started__article:after {
    display: none;
  }
  .getting-started__wrap:after {
    display: none;
  }
  .getting-started__wrap {
    display: none;
  }
  .getting-started__wrap-right {
    display: none;
  }
  .getting-started__wrap-right:after {
    display: none;
  }
  .getting-started-content-wrap {
    height: auto;
  }
  .getting-started-content {
    margin-top: 0px;
  }
  .getting-started:after {
    display: none;
  }
  .getting-started__article:after {
    display: none;
  }
  .getting-started__wrap:after {
    display: none;
  }
  .getting-started__wrap {
    display: none;
  }
  .getting-started__wrap-right {
    display: none;
  }
  .getting-started__wrap-right:after {
    display: none;
  }
  .getting-started-content-wrap {
    height: auto;
  }
  .getting-started-content {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1112px) {
  .vid-about-us {
    min-width: initial;
    width: 100%;
  }
  .vid-about-us {
    min-width: initial;
    width: 100%;
  }
}

@media screen and (max-width: 1920px) {
  .hp-screen-animation {
    display: none !important;
  }
}
@media screen and (min-width: 1920px) {
  .hp-screen-animation {
    position: absolute;
    display: flex !important;
    left: 695px;
    top: 29
    5px;
    width: 519px;
  }
}
