---
title: Hystreet | Estate Agency Software
layout: default
---
<div class="full hero">
  <div class="hero-content">
    <div class="row">
      <div class="large-6 columns left" style="color: #FFFFFF;text-transform: none;">
        <h1 class="homepage-h1" style="/* position: relative; */color: #FFFFFF;">Online Estate Agency Software</h1>
        <p style="font-size: 1.25rem; color: #FFFFFF">Cillum consequat elit cupidatat aliquip sint culpa laborum aliqua mollit aliquip dolore sunt anim aute.</p>
        <p style="font-size: 1.25rem; color: #FFFFFF"><strong>Mollit officia eu tempor eiusmod minim excepteur et.</strong></p>
        <a class='button' href='/demo-signup/'>Register Now</a>
      </div>
      <div class="large-6 columns right" style="    margin-top: 1rem;
    background-image: url(/images/ipad.png);
    background-attachment: fixed;
    background-position: 90%, 0%;
    background-repeat: no-repeat;
    background-size: 570px;
    height: 640px;
}">
      </div>
    </div>
  </div>
</div>
<div class='full' style="display: inline-block;">
  <div class="row layout-text">
    <h2>
        What our customers say:
      </h2>
    </div>
    <div class="row">
      <div class="home-testimonial home-testimonial1" style="background-image: url(/images/20170808-blog.png)">
        <div class="info">
          <div class="top-info">
            <h3>
              <a href="/testimonial/2017/08/08/test21.html">better than all the rest</a>
            </h3>
            <p>Voluptate in consectetur officia ipsum culpa ut minim aliqua eiusmod laborum nulla do aliqua. Deserunt laboris ut pariatur ullamco nulla nulla occaecat eu do dolor incididunt.</p>

            <p>
              -<span class="author">Dan Reasons, De Abreaw and Co.</span>
            </p>
          </div>
          <span class="blog-padding"></span></div>
      </div>
      <div class="home-testimonial home-testimonial2" style="background-image: url(/images/20170808-blog.png)">
        <div class="info">
          <div class="top-info">
            <h3>
              <a href="/testimonial/2017/08/08/test11.html">the best</a>
            </h3>
            <p>Ea deserunt adipisicing esse veniam commodo reprehenderit culpa ea amet quis dolor consequat aute dolor occaecat. Labore fugiat duis ad culpa commodo aliqua occaecat.</p>

            <p>
              -<span class="author">Dan Reasons, Weavers</span>
            </p>
          </div>
          <span class="blog-padding"></span></div>
      </div>
      <div class="home-testimonial home-testimonial3" style="background-image: url(/images/20170808-blog.png)">
        <div class="info">
          <div class="top-info">
            <h3>
              <a href="/testimonial/2017/08/08/test10.html">really really great</a>
            </h3>
            <p>Aliqua dolor eiusmod voluptate nulla dolore eiusmod excepteur esse consequat mollit ipsum duis elit. Mollit laborum ea irure laboris pariatur cupidatat commodo excepteur.</p>

            <p>
              -<span class="author">Dan Reasons, Dylan and Co</span>
            </p>
          </div>
          <span class="blog-padding"></span></div>
      </div>
      <div class="home-testimonial home-testimonial4" style="background-image: url(/images/20170808-blog.png)">
        <div class="info">
          <div class="top-info">
            <h3>
              <a href="/testimonial/2017/08/08/test1.html">It is great</a>
            </h3>
            <p>Sit excepteur laboris culpa proident cupidatat aliqua est minim ullamco est. Aliqua officia mollit nulla duis labore est voluptate ad commodo elit aute. Sunt sunt nostrud.</p>

            <p>
              -<span class="author">Dan Reasons, AP Morgan</span>
            </p>
          </div>
          <span class="blog-padding"></span></div>
      </div>
      <div class="dropdown-content1">
        <p>Sit occaecat laborum occaecat cupidatat Lorem excepteur in ut. Laboris sunt laboris eiusmod commodo aliqua ut quis Lorem ipsum eu voluptate. Aliqua aute Lorem magna commodo irure irure voluptate fugiat duis. Lorem laboris deserunt voluptate minim qui in tempor ut irure ipsum magna ea sit magna veniam. Eu proident nisi do eu dolore magna magna. Enim anim ea esse sunt aute non consectetur sit voluptate cillum ut. In velit cupidatat proident amet aliqua dolore qui laboris excepteur nisi reprehenderit laboris ea cupidatat aute tempor reprehenderit.</p>
<p>Excepteur deserunt elit occaecat consequat id cillum Lorem in minim sunt magna pariatur. Veniam ipsum culpa ullamco eiusmod elit amet proident fugiat minim consectetur. Cupidatat deserunt labore est Lorem esse cupidatat deserunt labore pariatur aliquip culpa commodo adipisicing qui. Reprehenderit nostrud sit deserunt cupidatat sunt anim nulla. Eu ipsum enim non ea tempor cupidatat nulla Lorem est occaecat eiusmod non non consequat nostrud Lorem. Labore dolore exercitation ad proident laboris cillum id occaecat est ullamco consectetur nostrud esse cupidatat excepteur minim.</p>
<p>Est nostrud laborum velit proident officia consequat nisi excepteur est. Labore nulla amet qui ea eu sint ad. Consequat fugiat ipsum velit voluptate incididunt sit magna dolore voluptate ad magna incididunt ad qui mollit. Incididunt elit eu dolore in qui elit excepteur incididunt sint duis incididunt ipsum reprehenderit adipisicing ipsum.</p>
<p>Id eiusmod aliquip in Lorem deserunt mollit aute ea minim veniam adipisicing dolore. Consectetur id fugiat deserunt ex ullamco consectetur minim velit laboris culpa sint pariatur ex velit. Ut esse culpa consequat duis laboris ullamco nisi officia reprehenderit quis incididunt commodo ut irure fugiat.</p>
      </div>
      <div class="dropdown-content2">
        <p>Ea adipisicing duis pariatur cupidatat deserunt consequat minim fugiat laborum anim. Sint laborum excepteur dolore ipsum do officia veniam labore minim aliqua eu ea laborum amet labore reprehenderit culpa. Esse nisi ad ut incididunt officia aliqua do commodo occaecat sit aute id veniam nulla sint esse. Proident excepteur qui consectetur laborum commodo ad cupidatat culpa exercitation velit elit duis in. Culpa incididunt aute id culpa sit duis ad sint consectetur adipisicing nisi labore qui cupidatat excepteur labore. Nostrud deserunt velit sit aliqua eu reprehenderit exercitation sint irure velit velit adipisicing adipisicing. Proident est excepteur consectetur ex ut minim ea sint esse eiusmod exercitation anim occaecat esse exercitation eu dolore. Fugiat Lorem nostrud sint fugiat ipsum sit Lorem est fugiat culpa et dolor eiusmod eiusmod.</p>
<p>Adipisicing sit deserunt eiusmod eu nisi aliquip in nostrud duis. Aute laborum adipisicing sint do fugiat eu enim ipsum aute est commodo voluptate amet tempor ad. Magna nisi ullamco id fugiat incididunt sit qui proident. Dolor ut anim fugiat non velit do consectetur incididunt amet sunt sit ad mollit mollit aliqua voluptate nisi. Mollit deserunt mollit id excepteur nostrud labore consequat ut incididunt fugiat minim qui pariatur nostrud aute ex nulla. Incididunt nostrud ad aliqua excepteur id commodo do id exercitation nulla eiusmod do deserunt cillum duis nulla exercitation. Qui sit ea deserunt nostrud irure do consequat incididunt duis officia commodo do amet. Quis in esse velit cillum ipsum Lorem enim id esse in est do elit.</p>
<p>Nulla ex reprehenderit velit nulla enim nisi consequat aliqua cillum consequat. Consequat eiusmod cillum occaecat amet cillum aute ad ut occaecat dolore sit cillum. Culpa do deserunt eiusmod eu laboris et velit sit laboris adipisicing cillum nulla labore pariatur. Exercitation aliquip exercitation exercitation magna elit ad elit ea esse dolor consectetur cupidatat mollit officia labore. Mollit incididunt laboris ut laborum proident ex adipisicing magna Lorem dolor in. Et incididunt mollit in do velit eiusmod cupidatat officia veniam aliqua cupidatat aute non dolor irure.</p>
      </div>
      <div class="dropdown-content3">
        <p>Sit consectetur ad laboris magna exercitation ullamco nostrud nostrud aliquip aliqua ex. Laborum anim pariatur nostrud sint pariatur cillum reprehenderit cillum eiusmod nulla magna pariatur dolor labore dolore. Fugiat do anim ullamco fugiat fugiat amet aliqua. Amet velit et enim culpa proident esse proident minim do. Duis pariatur sit do ex exercitation sit laborum consequat cillum nisi. Dolore nisi mollit aliqua elit consectetur magna adipisicing est est in ipsum eiusmod cillum voluptate. Ullamco pariatur aliquip duis anim ullamco cillum exercitation ipsum labore dolor. Ad non exercitation non culpa irure incididunt sint mollit laboris laborum ex aliquip proident ullamco.</p>
<p>Ipsum ea Lorem aliqua Lorem elit Lorem commodo deserunt. Duis aliquip occaecat aute culpa nostrud duis est duis ad laborum mollit sit laboris laborum laboris. Id est proident quis veniam deserunt irure pariatur adipisicing culpa magna. Aliquip exercitation incididunt et dolore aliqua non magna proident exercitation dolore reprehenderit reprehenderit consectetur magna mollit pariatur. Occaecat laborum nisi ut sint culpa consequat qui aliquip occaecat irure. Eiusmod consectetur cupidatat id adipisicing irure Lorem aliquip ex consectetur qui id cillum ullamco sit. Esse incididunt ullamco exercitation commodo quis amet mollit cupidatat officia irure officia.</p>
<p>Quis id nulla elit et incididunt non cillum eiusmod reprehenderit nulla. Laborum quis in nisi minim consectetur occaecat nisi ad sint aute ullamco exercitation non cillum proident ullamco velit. Eiusmod aute dolore consectetur sit veniam mollit ut eiusmod velit ex aliquip exercitation magna. Magna magna reprehenderit esse esse magna magna est excepteur deserunt sunt aliquip est do duis dolor. Commodo nulla dolore qui elit amet aliqua dolore aliquip laboris aliqua veniam voluptate aliqua. Incididunt eiusmod veniam id velit nulla laboris ullamco dolore quis dolore consectetur ad ipsum culpa eu sit quis. Voluptate ullamco culpa tempor adipisicing non sit velit elit id ut sint nisi aliqua minim do.</p>
<p>Excepteur incididunt nostrud ullamco eiusmod occaecat eu enim. Veniam aliqua laboris sit sint duis nulla exercitation occaecat aliqua aute exercitation ut elit ut. Culpa laborum enim elit cillum incididunt proident esse aliqua excepteur est occaecat ullamco. Id officia in occaecat velit enim reprehenderit magna elit occaecat eu cupidatat tempor.</p>
      </div>
      <div class="dropdown-content4">
        <p>Enim ad veniam ex amet ea id reprehenderit est culpa laborum in pariatur minim amet excepteur. Duis Lorem duis labore reprehenderit aliquip non anim ea exercitation excepteur sint. Pariatur proident voluptate officia ad reprehenderit sint ullamco do deserunt Lorem incididunt ut deserunt.</p>
<p>Sunt sint et enim veniam duis pariatur duis reprehenderit non. Cillum enim occaecat ullamco ipsum excepteur laborum ad consequat occaecat. Voluptate culpa culpa do ad et labore culpa labore incididunt. Excepteur consectetur nostrud adipisicing tempor excepteur aliqua ex excepteur laboris consectetur. Consectetur dolore in exercitation do proident aute aliquip ullamco consequat reprehenderit ipsum non. Occaecat ullamco anim qui deserunt laboris Lorem enim deserunt.</p>
<p>Tempor tempor eu cillum anim sunt irure id. Sunt nostrud ut eiusmod consectetur excepteur eu ad. Enim exercitation et et eu deserunt ad sit nostrud nisi occaecat Lorem anim mollit mollit. Laboris minim voluptate minim labore proident pariatur labore anim laborum cillum magna qui aliquip nostrud velit.</p>
<p>Occaecat do mollit voluptate labore voluptate cillum sunt consequat. Officia proident mollit ipsum excepteur Lorem sunt laborum. Mollit mollit dolor tempor tempor excepteur eu ad id consequat duis eu adipisicing quis voluptate id. Non sint enim adipisicing nostrud voluptate occaecat eiusmod aliquip proident nostrud eu veniam dolore consectetur aliquip. Dolor duis commodo ea eu proident tempor duis sunt reprehenderit culpa excepteur ea minim Lorem ut. Esse ipsum tempor laboris adipisicing deserunt culpa nisi ad qui aliquip incididunt non officia. Magna cillum cupidatat voluptate deserunt sit irure veniam ipsum velit cupidatat excepteur laborum occaecat mollit id aliquip duis. Non officia aliquip laboris tempor fugiat duis anim dolore non laborum anim officia sint nisi sunt.</p>
      </div>
    </div>
  </div>
<div class='full-grey' style="display:inline-block">
  <div class="row layout-text">
    <h2>
        Why choose Hystreet
      </h2>
    </div>
  <div class='row'>
    <div class='large-3 columns left'>
      <div>
        <p style="margin-top: 25%">Nulla amet ad mollit dolor non consequat ad adipisicing. Do sint voluptate cillum reprehenderit ipsum duis sint. Minim ut quis cillum duis ad et duis ullamco incididunt fugiat aliquip deserunt id esse pariatur. Commodo non Lorem magna exercitation magna ullamco eiusmod eiusmod ex velit laborum eiusmod ad excepteur sit reprehenderit. Lorem mollit velit proident sint cupidatat velit aliquip ullamco cillum deserunt dolor exercitation mollit. Laborum nostrud qui quis exercitation sunt velit proident sunt.</p>
      </div>
      <div>
        <p>Commodo culpa minim est enim laborum exercitation sint proident nisi duis aliqua aliquip labore anim. In duis consequat laboris ea quis magna anim deserunt minim nulla veniam do minim nulla in consectetur. Pariatur ad et est eu deserunt duis ea aliquip ullamco nisi dolor ad nisi. Duis minim fugiat esse labore reprehenderit commodo aliqua.</p>
      </div>
      <div>
        <p>Anim eu excepteur magna ex cillum duis esse ullamco non velit occaecat amet id irure. Esse ea voluptate aute aliquip sit est sunt quis duis velit tempor duis. Aute tempor mollit in esse aliqua ea incididunt excepteur incididunt sint exercitation. Minim ut ullamco amet laboris sint amet nulla aliqua enim deserunt aute sint ut in irure eu. Nostrud magna laborum magna consequat cillum commodo aliqua exercitation culpa consectetur et. Fugiat laboris laborum mollit et id velit magna ex enim commodo sit. Ipsum non cillum duis velit enim exercitation excepteur.</p>
      </div>
    </div>
    <div class='large-6 left'>
      <img src="{{ site.url }}/images/clock.png" style="
      max-width: 500px;
      transform: translate(0, 34%);
      margin: 0 auto;
      display: block;" alt="clock">
    </div>
    <div class='large-3 columns right'>
      <div>
        <p style="margin-top: 25%">Nulla amet ad mollit dolor non consequat ad adipisicing. Do sint voluptate cillum reprehenderit ipsum duis sint. Minim ut quis cillum duis ad et duis ullamco incididunt fugiat aliquip deserunt id esse pariatur. Commodo non Lorem magna exercitation magna ullamco eiusmod eiusmod ex velit laborum eiusmod ad excepteur sit reprehenderit. Lorem mollit velit proident sint cupidatat velit aliquip ullamco cillum deserunt dolor exercitation mollit. Laborum nostrud qui quis exercitation sunt velit proident sunt.</p>
      </div>
      <div>
        <p>Commodo culpa minim est enim laborum exercitation sint proident nisi duis aliqua aliquip labore anim. In duis consequat laboris ea quis magna anim deserunt minim nulla veniam do minim nulla in consectetur. Pariatur ad et est eu deserunt duis ea aliquip ullamco nisi dolor ad nisi. Duis minim fugiat esse labore reprehenderit commodo aliqua.</p>
      </div>
      <div>
        <p>Anim eu excepteur magna ex cillum duis esse ullamco non velit occaecat amet id irure. Esse ea voluptate aute aliquip sit est sunt quis duis velit tempor duis. Aute tempor mollit in esse aliqua ea incididunt excepteur incididunt sint exercitation. Minim ut ullamco amet laboris sint amet nulla aliqua enim deserunt aute sint ut in irure eu. Nostrud magna laborum magna consequat cillum commodo aliqua exercitation culpa consectetur et. Fugiat laboris laborum mollit et id velit magna ex enim commodo sit. Ipsum non cillum duis velit enim exercitation excepteur.</p>
      </div>
    </div>
  </div>
</div>
<div class='full' style="    height: 50%;
">
  <div class="row layout-text">
    <h2>Take back your time</h2>
    <p>Consectetur ut elit pariatur do tempor voluptate magna irure commodo. Exercitation excepteur laborum sunt ad anim velit qui commodo proident enim in laborum irure consequat mollit consequat enim. Minim nisi ex tempor labore duis adipisicing eu ea.</p>
<p>Eiusmod exercitation ea amet ipsum exercitation ut est deserunt cillum. Elit minim veniam anim elit aliquip proident deserunt. Anim deserunt consequat nulla enim duis quis proident sint laborum velit ea officia in dolore sint.</p>
<p>Nostrud cillum commodo ex nulla mollit labore Lorem. Eiusmod ut in labore veniam officia duis cillum occaecat consequat amet sunt mollit velit. Cupidatat cupidatat nostrud minim est laboris aute dolore adipisicing proident in aliqua veniam. Elit veniam qui tempor proident qui excepteur duis nostrud commodo do enim irure nulla sit eiusmod.</p>
<p>Id ullamco excepteur eiusmod est aute voluptate ex tempor amet adipisicing. Sint esse in laboris in tempor proident nostrud ut ullamco amet labore pariatur cupidatat nisi reprehenderit non ut. Sint laborum labore ut sunt cillum laborum culpa aliquip laborum eu duis in. Nostrud ipsum duis cupidatat nostrud exercitation ipsum quis incididunt reprehenderit pariatur. Nisi ad pariatur irure esse veniam aute fugiat est est. Deserunt commodo aute do sint minim dolor irure irure consectetur deserunt. Enim velit ut ipsum nisi enim ipsum elit consectetur est ex voluptate. Reprehenderit consequat do commodo adipisicing quis ipsum excepteur.</p>
<p>Ea exercitation nisi aliquip magna nulla dolore proident tempor eiusmod. Adipisicing eiusmod duis officia aliquip nisi magna nisi in dolor duis exercitation minim nulla minim. Nisi sunt sit exercitation aute officia laborum aute pariatur pariatur duis eu ad aliquip mollit nulla.</p>
  </div>
</div>
<div class="full">
  <div class="row">
    <div class="time-line">
      <div class="time-wrap">
    <div class="time-bubble">
      <p>
    asddddddddd
  </p>
  </div>
  <div class="time-bubble">
    <p>
  asddddddddd
</p>
</div>
<div class="time-bubble">
  <p>
asddddddddd
</p>
</div>
<div class="time-bubble">
  <p>
asddddddddd
</p>
</div>
</div>
</div>
  </div>
</div>
<div class='full-blue' style="height: fit-content">
  <div class='row-narrow'>
    <h2>See It Work</h2>
    <p style="margin-bottom: 10%">Aliquip est eiusmod fugiat irure nostrud adipisicing esse proident non anim magna occaecat nulla ullamco consectetur. Nisi dolore sit eiusmod quis laborum est elit anim ipsum laborum qui adipisicing irure laboris ea quis nostrud. Irure irure ipsum
      commodo eu in tempor laborum non consequat. Pariatur nostrud elit nulla exercitation tempor dolor voluptate sit occaecat irure consectetur dolor deserunt adipisicing minim nulla incididunt. Duis enim sint nostrud ullamco pariatur sint sit reprehenderit
      est in esse laboris esse aliqua. Duis nisi sunt cillum tempor consectetur duis esse adipisicing in esse ad do amet esse pariatur proident id. Occaecat veniam ea ea do amet cupidatat in qui non non non est ut proident labore cillum anim. Nulla non
      qui fugiat non aliquip tempor velit elit et mollit cupidatat aliqua nisi minim quis officia.</p>
  </div>
  <div class="row signup-form">
    <form accept-charset="UTF-8" action="https://ge395.infusionsoft.com/app/form/process/66561ff95f456d79764ce76d5f916de3" class="infusion-form" id="inf_form_66561ff95f456d79764ce76d5f916de3" method="POST">
      <input name="inf_form_xid" type="hidden" value="66561ff95f456d79764ce76d5f916de3" />
      <input name="inf_form_name" type="hidden" value="Website signup form submitted" />
      <input name="infusionsoft_version" type="hidden" value="1.69.0.63" />
      <div class="large-6 left">
        <div style="max-width: 85%; margin: 0 auto;">
          <div class="large-6 left">
            <div class="infusion-field">
              <label for="inf_field_FirstName">First Name *</label>
              <input class="infusion-field-input" id="inf_field_FirstName" name="inf_field_FirstName" placeholder="First Name *" type="text" />
            </div>
          </div>
          <div class="large-6 right">
            <div class="infusion-field">
              <label for="inf_field_LastName">Last Name *</label>
              <input class="infusion-field-input" id="inf_field_LastName" name="inf_field_LastName" placeholder="Last Name *" type="text" />
            </div>
          </div>
        </div>
        <div>
          <div>&nbsp;</div>
        </div>
        <div class="infusion-field">
          <label for="inf_field_Phone1">Phone Number *</label>
          <input class="infusion-field-input" id="inf_field_Phone1" name="inf_field_Phone1" placeholder="Phone Number *" type="text" />
        </div>
        <div>
          <div>&nbsp;</div>
        </div>
        <div class="infusion-field">
          <label for="inf_field_Email">Email *</label>
          <input class="infusion-field-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email *" type="text" />
        </div>
        <div>
          <div>&nbsp;</div>
        </div>
      </div>
      <div class="large-6 right">
        <div class="infusion-field">
          <label for="inf_field_Company">Company Name: *</label>
          <input class="infusion-field-input" id="inf_field_Company" name="inf_field_Company" placeholder="Company Name: *" type="text" />
        </div>
        <div>
          <div>&nbsp;</div>
        </div>
        <div class="infusion-field">
          <label for="inf_custom_EnquiryType0">Enquiry Type *</label>
          <div class="infusion-field-input-container">
            <select id="inf_custom_EnquiryType0" name="inf_custom_EnquiryType0"><option value="">Please select one</option><option value="Estate Agent">Estate Agent</option><option value="Media">Media</option><option value="Investor">Investor</option><option value="Other">Other</option></select>
          </div>
        </div>
        <div>
          <div>&nbsp;</div>
        </div>
        <div class="infusion-field">
          <label for="inf_custom_Region">Region *</label>
          <div class="infusion-field-input-container">
            <select id="inf_custom_Region" name="inf_custom_Region"><option value="">Please select one</option><option value="South East">South East</option><option value="South West">South West</option><option value="East Midlands">East Midlands</option><option value="West Midlands">West Midlands</option><option value="North East">North East</option><option value="North West">North West</option><option value="London">London</option><option value="Wales">Wales</option><option value="Northern Ireland">Northern Ireland</option><option value="Scotland">Scotland</option><option value="National">National</option><option value="Other">Other</option></select>
          </div>
        </div>
        <div>
          <div>&nbsp;</div>
        </div>
        <div class="infusion-submit">
          <button type="submit">Submit</button>
        </div>
      </div>
      <div>
        <div>&nbsp;</div>
      </div>
      <div>
        <a href="http://www.hystreet.co.uk/" shape="rect">
                </a>
        <p><a href="http://www.hystreet.co.uk/" shape="rect">
                </a>
        </p>
      </div>
    </form>
    <script type="text/javascript" src="https://ge395.infusionsoft.com/app/webTracking/getTrackingCode"></script>
    <script type="text/javascript" src="https://ge395.infusionsoft.com/app/timezone/timezoneInputJs?xid=66561ff95f456d79764ce76d5f916de3"></script>
  </div>
</div>
<div class='full' style="height: 100%">
  <div class='row'>
    <div class='large-6 left'>
      <img class="about-image" src='/images/800x800.png' alt="placeholder">
    </div>
    <div class='large-6 right padding:100px;'>
      <h2 class="on-white">Our Mission</h2>
      <p>Amet velit incididunt do non et Lorem dolore. Ea sint laboris id sint nostrud irure proident pariatur nulla commodo adipisicing. Exercitation laborum ut deserunt ad laboris nisi tempor aute qui magna laboris ea adipisicing aliqua mollit. Dolore
        est consequat elit sint sit laborum deserunt ea mollit. Aliqua nisi adipisicing consectetur amet nostrud ullamco laboris laborum ad.</p>
      <p>Sit laborum elit ad veniam deserunt exercitation ea occaecat sint consectetur. Laborum enim anim esse aliquip sunt et exercitation minim ut esse non id officia aute. Officia magna in incididunt commodo dolore adipisicing sit eu voluptate. Irure
        amet sit excepteur eiusmod consectetur reprehenderit enim dolore velit. Eiusmod adipisicing ipsum deserunt dolore mollit amet incididunt id ea. Tempor nulla exercitation in mollit ex ea voluptate deserunt ullamco ipsum exercitation nisi velit.
        Incididunt labore proident duis veniam magna ad laboris anim magna nisi consectetur et consectetur consequat non ut. Lorem in aliquip esse irure est incididunt deserunt.</p>
    </div>
  </div>
</div>
<div class='full' style="height: 100%; padding:100px;">
  <div class='row' style='display: flex;'>
    <div class='large-6 left'>
      <h2 class="on-white">Our Team</h2>
      <p>Amet velit incididunt do non et Lorem dolore. Ea sint laboris id sint nostrud irure proident pariatur nulla commodo adipisicing. Exercitation laborum ut deserunt ad laboris nisi tempor aute qui magna laboris ea adipisicing aliqua mollit. Dolore
        est consequat elit sint sit laborum deserunt ea mollit. Aliqua nisi adipisicing consectetur amet nostrud ullamco laboris laborum ad.</p>
      <p>Sit laborum elit ad veniam deserunt exercitation ea occaecat sint consectetur. Laborum enim anim esse aliquip sunt et exercitation minim ut esse non id officia aute. Officia magna in incididunt commodo dolore adipisicing sit eu voluptate. Irure
        amet sit excepteur eiusmod consectetur reprehenderit enim dolore velit. Eiusmod adipisicing ipsum deserunt dolore mollit amet incididunt id ea. Tempor nulla exercitation in mollit ex ea voluptate deserunt ullamco ipsum exercitation nisi velit.
        Incididunt labore proident duis veniam magna ad laboris anim magna nisi consectetur et consectetur consequat non ut. Lorem in aliquip esse irure est incididunt deserunt.</p>
    </div>
    <div class='large-6 right'>
      <img class="about-image right" src='/images/800x800.png' alt="placeholder">
    </div>
  </div>
</div>
<div class='full-grey' style="height: 100%">
  <div class="row layout-text">
    <h2>
      Our Blog
    </h2>
    <p>
      The latest news from our CEO, Awais, and the rest of the Hystreet team.
    </p>
    <div class="row" style="display: flex;">
      {% for post in paginator.posts %}
      <div class='home-post' style="background-image: url({{site.url}}/images/{{ post.img }})">
        <div class='info'>
          <div class="top-info">
            <h3>
            <a href='{{post.url}}'>{{ post.title }}</a>
          </h3>
            <p>
              By
              <span class='author'>{{post.author}}, {{ post.date | date: "%h" }} {{ post.date | date: "%d" }}</span>
            </p>
          </div>
          <span class="blog-padding"><a class='button' href='{{post.url}}'>Read more</a></span></div>
      </div>

      {% endfor %}
    </div>
    {% if paginator %}
    <div class="pager">
      {% if paginator.next_page %} {% if paginator.next_page == 1 %}
      <a href="/blog" class="older">Older Entries</a> {% else %}
      <a href="/blog/page{{ paginator.next_page }}" class="older">Older Entries</a> {% endif %} {% else %}
      <span class="older">Older Entries</span> {% endif %} {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
      <a href="/blog" class="newer">Newer Entries</a> {% else %}
      <a href="/blog/page{{ paginator.previous_page }}" class="newer">Newer Entries</a> {% endif %} {% else %}
      <span class="newer">Newer Entries</span> {% endif %}
    </div>
    {% endif %}
  </div>
</div>
