---
title: Hystreet
layout: default
---
<div class="full hero">
  <div class="hero-content">
    <div class="row">
      <div class="large-12 columns" style="color: #FFFFFF;text-transform: none; text-align: center;">
        <h1 class="homepage-h1" style="/* position: relative; color: ##343d4f;">Estate agent software that always <span style="color: #FFF;"><img src="/images/border-top-white.png" alt="top border" style="    position: absolute;    width: 150px;    bottom: 65px;    margin: 0 auto;">amazes</span></h1>
      </div>
      <div class="right" style="margin-top: 27%;">
        <a class='button' href='/demo-signup/'>Start your free trial</a>
      </div>
    </div>
  </div>
</div>
<div class="full page-content">
  <div class="row page-content-row">
    <div class="left">
      <img src="/images/iphone.png" alt="hystreet on an iphone">
    </div>
    <div class="right copy">
      <h3>
        What is Hystreet?
      </h3>
      <p>
        Hystreet is a cutting-edge CRM system for modern estate agents. Easily streamline your in-house processes by automating repetitive tasks and offering your customers a great experience.
      </p>
    </div>
  </div>

{% include video-slip.html %}

  <div class="row page-content-row">
    <div class="left">
      <img src="/images/800x800.png" alt="placeholder">
    </div>
    <div class="right copy">
      <h3>
        Getting started
      </h3>
      <p>
        Getting started with Hystreet is easy and you can do it right away. Just enter your details and we can start getting you on board with Hystreet right away.
      </p>
    </div>
  </div>
</div>

{% include demo-slip0.html %}

<div class='full' style="margin-top: 180px;">
  <div class="row layout-text">
    <h2>Take back your time</h2>
    <p>Hystreet saves our customers precious time every single day. Here's some of the ways we've helped our customers so far:</p>
  </div>
</div>
<div class="full" style="margin-bottom: 100px;">
  <div class="row">
    <div class="time-line">
      <div class="time-wrap">
        <div class="time-bubble">
          <div class="stats">
          <h3>
            34 hours
          </h3>
          <p>
            Average time saved per month, per agent
          </p>
        </div>
        </div>
        <div class="time-bubble">
          <div class="stats">
          <h3>
            10
          </h3>
          <p>
            Average monthly valuations
          </p>
        </div>
        </div>
        <div class="time-bubble">
          <div class="stats">
          <h3>
            ###
          </h3>
          <p>
            Lorem ipsum
          </p>
        </div>
        </div>
        <div class="time-bubble">
          <div class="stats">
            <h3>
              ###
            </h3>
            <p>
              Lorem ipsum
            </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='full' style="display: inline-block; margin-bottom: 100px;">
  <div class="row layout-text">
    <h2>
        What our customers say:
      </h2>
  </div>
  <div class="row">
    <div class="home-testimonial home-testimonial1" style="background-image: url(/images/chris-griffiths.jpg)">
      <div class="info">
        <div class="top-info">
          <h3>
              <a href="/testimonial/2017/08/08/test21.html">Saves us so much time</a>
            </h3>
          <p>Hystreet helps us to secure more valuations and continue to provide a service that goes above and beyond expectations in an increasingly competitive market.</p>

          <p>
            - <span class="author">Chris Griffiths, AP Morgan</span>
          </p>
        </div>
        <span class="blog-padding"></span></div>
    </div>
    <div class="home-testimonial home-testimonial2" style="background-image: url(/images/Kevin.jpg)">
      <div class="info">
        <div class="top-info">
          <h3>
              <a href="/testimonial/2017/08/08/test11.html">the best</a>
            </h3>
          <p>Ea deserunt adipisicing esse veniam commodo reprehenderit culpa ea amet quis dolor consequat aute dolor occaecat. Labore fugiat duis ad culpa commodo aliqua occaecat.</p>

          <p>
            -<span class="author">Dan Reasons, Weavers</span>
          </p>
        </div>
        <span class="blog-padding"></span></div>
    </div>
    <div class="home-testimonial home-testimonial3" style="background-image: url(/images/john-2.jpg)">
      <div class="info">
        <div class="top-info">
          <h3>
              <a href="/testimonial/2017/08/08/test10.html">really really great</a>
            </h3>
          <p>Aliqua dolor eiusmod voluptate nulla dolore eiusmod excepteur esse consequat mollit ipsum duis elit. Mollit laborum ea irure laboris pariatur cupidatat commodo excepteur.</p>

          <p>
            -<span class="author">Dan Reasons, Dylan and Co</span>
          </p>
        </div>
        <span class="blog-padding"></span></div>
    </div>
    <div class="home-testimonial home-testimonial4" style="background-image: url(/images/Awais.jpg)">
      <div class="info">
        <div class="top-info">
          <h3>
              <a href="/testimonial/2017/08/08/test1.html">It is great</a>
            </h3>
          <p>Sit excepteur laboris culpa proident cupidatat aliqua est minim ullamco est. Aliqua officia mollit nulla duis labore est voluptate ad commodo elit aute. Sunt sunt nostrud.</p>

          <p>
            -<span class="author">Dan Reasons, AP Morgan</span>
          </p>
        </div>
        <span class="blog-padding"></span></div>
    </div>
    <div class="dropdown-content1">
      <p>We have been the leading agents in our town for the past few years, recieving recognision from our local customers along with wider recognision and awards from the UK property industry. Customers' service expectations have been increasing with the rise of technology not just in our own industry, but others as well. <strong>Hystreet allows us to continue to offer a service that goes above and beyond what our customers expect in an increasingly competitive market.</strong></p>
    </div>
    <div class="dropdown-content2">
      <p>Ea adipisicing duis pariatur cupidatat deserunt consequat minim fugiat laborum anim. Sint laborum excepteur dolore ipsum do officia veniam labore minim aliqua eu ea laborum amet labore reprehenderit culpa. Esse nisi ad ut incididunt officia aliqua
        do commodo occaecat sit aute id veniam nulla sint esse. Proident excepteur qui consectetur laborum commodo ad cupidatat culpa exercitation velit elit duis in. Culpa incididunt aute id culpa sit duis ad sint consectetur adipisicing nisi labore
        qui cupidatat excepteur labore. Nostrud deserunt velit sit aliqua eu reprehenderit exercitation sint irure velit velit adipisicing adipisicing. Proident est excepteur consectetur ex ut minim ea sint esse eiusmod exercitation anim occaecat esse
        exercitation eu dolore. Fugiat Lorem nostrud sint fugiat ipsum sit Lorem est fugiat culpa et dolor eiusmod eiusmod.</p>
      <p>Adipisicing sit deserunt eiusmod eu nisi aliquip in nostrud duis. Aute laborum adipisicing sint do fugiat eu enim ipsum aute est commodo voluptate amet tempor ad. Magna nisi ullamco id fugiat incididunt sit qui proident. Dolor ut anim fugiat non
        velit do consectetur incididunt amet sunt sit ad mollit mollit aliqua voluptate nisi. Mollit deserunt mollit id excepteur nostrud labore consequat ut incididunt fugiat minim qui pariatur nostrud aute ex nulla. Incididunt nostrud ad aliqua excepteur
        id commodo do id exercitation nulla eiusmod do deserunt cillum duis nulla exercitation. Qui sit ea deserunt nostrud irure do consequat incididunt duis officia commodo do amet. Quis in esse velit cillum ipsum Lorem enim id esse in est do elit.</p>
      <p>Nulla ex reprehenderit velit nulla enim nisi consequat aliqua cillum consequat. Consequat eiusmod cillum occaecat amet cillum aute ad ut occaecat dolore sit cillum. Culpa do deserunt eiusmod eu laboris et velit sit laboris adipisicing cillum nulla
        labore pariatur. Exercitation aliquip exercitation exercitation magna elit ad elit ea esse dolor consectetur cupidatat mollit officia labore. Mollit incididunt laboris ut laborum proident ex adipisicing magna Lorem dolor in. Et incididunt mollit
        in do velit eiusmod cupidatat officia veniam aliqua cupidatat aute non dolor irure.</p>
    </div>
    <div class="dropdown-content3">
      <p>Sit consectetur ad laboris magna exercitation ullamco nostrud nostrud aliquip aliqua ex. Laborum anim pariatur nostrud sint pariatur cillum reprehenderit cillum eiusmod nulla magna pariatur dolor labore dolore. Fugiat do anim ullamco fugiat fugiat
        amet aliqua. Amet velit et enim culpa proident esse proident minim do. Duis pariatur sit do ex exercitation sit laborum consequat cillum nisi. Dolore nisi mollit aliqua elit consectetur magna adipisicing est est in ipsum eiusmod cillum voluptate.
        Ullamco pariatur aliquip duis anim ullamco cillum exercitation ipsum labore dolor. Ad non exercitation non culpa irure incididunt sint mollit laboris laborum ex aliquip proident ullamco.</p>
      <p>Ipsum ea Lorem aliqua Lorem elit Lorem commodo deserunt. Duis aliquip occaecat aute culpa nostrud duis est duis ad laborum mollit sit laboris laborum laboris. Id est proident quis veniam deserunt irure pariatur adipisicing culpa magna. Aliquip exercitation
        incididunt et dolore aliqua non magna proident exercitation dolore reprehenderit reprehenderit consectetur magna mollit pariatur. Occaecat laborum nisi ut sint culpa consequat qui aliquip occaecat irure. Eiusmod consectetur cupidatat id adipisicing
        irure Lorem aliquip ex consectetur qui id cillum ullamco sit. Esse incididunt ullamco exercitation commodo quis amet mollit cupidatat officia irure officia.</p>
      <p>Quis id nulla elit et incididunt non cillum eiusmod reprehenderit nulla. Laborum quis in nisi minim consectetur occaecat nisi ad sint aute ullamco exercitation non cillum proident ullamco velit. Eiusmod aute dolore consectetur sit veniam mollit
        ut eiusmod velit ex aliquip exercitation magna. Magna magna reprehenderit esse esse magna magna est excepteur deserunt sunt aliquip est do duis dolor. Commodo nulla dolore qui elit amet aliqua dolore aliquip laboris aliqua veniam voluptate aliqua.
        Incididunt eiusmod veniam id velit nulla laboris ullamco dolore quis dolore consectetur ad ipsum culpa eu sit quis. Voluptate ullamco culpa tempor adipisicing non sit velit elit id ut sint nisi aliqua minim do.</p>
      <p>Excepteur incididunt nostrud ullamco eiusmod occaecat eu enim. Veniam aliqua laboris sit sint duis nulla exercitation occaecat aliqua aute exercitation ut elit ut. Culpa laborum enim elit cillum incididunt proident esse aliqua excepteur est occaecat
        ullamco. Id officia in occaecat velit enim reprehenderit magna elit occaecat eu cupidatat tempor.</p>
    </div>
    <div class="dropdown-content4">
      <p>Enim ad veniam ex amet ea id reprehenderit est culpa laborum in pariatur minim amet excepteur. Duis Lorem duis labore reprehenderit aliquip non anim ea exercitation excepteur sint. Pariatur proident voluptate officia ad reprehenderit sint ullamco
        do deserunt Lorem incididunt ut deserunt.</p>
      <p>Sunt sint et enim veniam duis pariatur duis reprehenderit non. Cillum enim occaecat ullamco ipsum excepteur laborum ad consequat occaecat. Voluptate culpa culpa do ad et labore culpa labore incididunt. Excepteur consectetur nostrud adipisicing tempor
        excepteur aliqua ex excepteur laboris consectetur. Consectetur dolore in exercitation do proident aute aliquip ullamco consequat reprehenderit ipsum non. Occaecat ullamco anim qui deserunt laboris Lorem enim deserunt.</p>
      <p>Tempor tempor eu cillum anim sunt irure id. Sunt nostrud ut eiusmod consectetur excepteur eu ad. Enim exercitation et et eu deserunt ad sit nostrud nisi occaecat Lorem anim mollit mollit. Laboris minim voluptate minim labore proident pariatur labore
        anim laborum cillum magna qui aliquip nostrud velit.</p>
      <p>Occaecat do mollit voluptate labore voluptate cillum sunt consequat. Officia proident mollit ipsum excepteur Lorem sunt laborum. Mollit mollit dolor tempor tempor excepteur eu ad id consequat duis eu adipisicing quis voluptate id. Non sint enim
        adipisicing nostrud voluptate occaecat eiusmod aliquip proident nostrud eu veniam dolore consectetur aliquip. Dolor duis commodo ea eu proident tempor duis sunt reprehenderit culpa excepteur ea minim Lorem ut. Esse ipsum tempor laboris adipisicing
        deserunt culpa nisi ad qui aliquip incididunt non officia. Magna cillum cupidatat voluptate deserunt sit irure veniam ipsum velit cupidatat excepteur laborum occaecat mollit id aliquip duis. Non officia aliquip laboris tempor fugiat duis anim
        dolore non laborum anim officia sint nisi sunt.</p>
    </div>
  </div>
</div>
