<div class='testimonials full light centered-text' style="background: url(/images/blue-awais.jpg) center center no-repeat; background-size: cover;">
  <div>
    <div class='two spacing'></div>
  </div>
  <div class='row quote-marks'>
    <div class='small-9 small-centered columns'>
      <ul data-orbit=''>
          <li>
            <p class='quote'>"I don't understand people who knock over gravestones, if you wanted to mess with them you should just mix em up a bit."</p>
            <p class='author'>Awais Ahmad, CEO of Hystreet</p>
            <div class='two spacing'></div>
          </li>
      </ul>
    </div>
    <div class='spacing'></div>
  </div>
</div>
