<div class="right large-3" style="
    background-image: URL('/images/iphone-screenshot-2.png');
    height: 550px;
    width:  50vw;
    background-position:  center;
    background-repeat: no-repeat;
">

</div>
<div class="full dark-grey" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="row">
    <div class="call-to-action light layout-text" style="margin-bottom: 50px;">
      <div class="left small-12 medium-9 large-6 cta-arrow">
        <h3 style="margin-top: 8px;    color: #FFF;    font-size: 30px;">See how Hystreet can work for you.</h3>
        <p>Hystreet is already helping estate agents throughout the country evolve their business. See how it can help you.</p>
      </div>
    </div>
      <p class="mobile-center">
      <a class="button cta-button" href="/product/">View our features</a>
</p>
  </div>

</div>
