<div class="right large-3">
  <img src="/images/iphone-screenshot-2.png" style="position: relative;right: 160px; top: 20px;">
</div>
<div class="full dark-grey" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="row">
    <div class="call-to-action light layout-text" style="margin-bottom: 50px;">
      <div class="left small-12 medium-9 large-6" style="
    text-align:  left;
    border-left:  #0fafd4;
    border-left-width: 3px;
    border-left-style:  solid;
    padding-left: 20px;
">
        <h3 style="margin-top: 8px;
    color: #FFF;
    text-align: left;
    font-size: 30px;">See how Hystreet can work for you.</h3>
        <p>Qui nostrud officia velit ut aliquip dolor dolor adipisicing fugiat duis ut. Exercitation voluptate consectetur ex amet.</p>
      </div>
    </div>
      <p>
      <a class="button" href="/demo-signup/" style="
  /* margin-top: 100px; */
  padding-left: 30px;
  padding-right: 30px;
  ">View our features</a>
</p>
  </div>

</div>
