<div class='footer layout-text'>
  <div class='spacing'></div>
  <div class='full' style="color: #FFF;">
    <div class='large-2 columns'>
      <h4 style="color: #FFFFFF;">Company</h4>
      <p><a href="/blog/">Blog</a></p>
      <p><a href="/careers/">Careers</a></p>
      <p><a href="/about/">Team</a></p>
      <p><a href="/about/">About</a></p>
    </div>
    <div class='large-8 columns'>
      <h4 style="color: #FFFFFF;">Contact</h4>
      <p class="contact-text">London // 78 York Street, London, W1H 1DP</p>
        <p class="contact-text"><a href="tel:+442039083000">0203 908 3000</p>
    </div>
    <div class='large-2 columns'>
      <h4 style="color: #FFFFFF;">Compliance</h4>
      <p><a href="/privacy">Privacy Policy</a></p>
      <p><a href="/terms-conditions/">Terms &amp; Conditions</a></p>
      <p><a href="/cookies/">Cookie Policy</a></p>
      <p><a href="/company-info/">Company info</a></p>
    </div>
    <div class="spacing"></div>
    <br>
    <br>
    <div class="copyright">
        <p>Made in England with <img src="/images/pink-heart.svg" alt="love" style="    width: 18px;    bottom: 2px;    position:  relative;    left: 1px;"></p>
        <p>&copy; 2018 Hystreet</p>
    </div>

  </div>
</div>

{% include scripts-footer.html %}
