<div class='footer layout-text'>
  <div class='spacing'></div>
  <div class='full' style="color: #FFF;">
    <div class='large-2 columns'>

    </div>
    <div class='large-8 columns'>
      <h4 style="color: #FFFFFF;">Contact</h4>
      <p class="contact-text">London <span style="color: #e63375;">//</span> 78 York Street, London, W1H 1DP</p>
      <p class="contact-text">Manchester <span style="color: #e63375;">//</span> 5th Floor, Building 5, Universal Square, Devonshire Street, Manchester, M12 6JH</p>
      <p class="contact-text">Birmingham(ish) <span style="color: #e63375;">//</span> 30 Greenbox, Westonhall Road, Stoke Prior, Bromsgrove, B60 4AL</p>
        <p class="contact-text"><a href="tel:+442039083000">0203 908 3000</p>
    </div>
    <div class='large-2 columns'>

    </div>
    <div class="spacing"></div>
    <br>
    <br>
    <div class="copyright">
      <p>Made in England with <img src="/images/pink-heart.svg" alt="pink heart" style="    width: 18px;    bottom: 2px;    position:  relative;    left: 1px;"></p>
        <p>&copy; 2018 Hystreet</p>
    </div>

  </div>
</div>

{% include scripts-footer.html %}
