<div class='footer layout-text'>
  <div class='spacing'></div>
  <div class='full'>
    <div class='large-4 columns'>
      <h4>Offices</h4>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </div>
    <div class='large-4 columns'>
      <h4>Contact</h4>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </div>
    <div class='large-4 columns'>
      <h4>Careers</h4>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </div>
    <div class="contact-text">
      <p class='copyright'>
        <a href="###">Privacy Policy</a> | <a href="###">Terms &amp; Conditions</a> | <a href="###">Cookie Policy</a>
      </p>
      <p class="copyright">Company Number: 10007749 | VAT: 249966541</p>
      <p class='copyright' style="margin-top: -30px;">&copy; 2018 Hystreet
        <br>
        <p>Made in England</p>
    </div>
  </div>
</div>

{% include scripts-footer.html %}
