
<div class="full dark-grey" style="margin-top: 100px;padding-bottom: 10px;padding-top: 10px;">
  <div class="row">
    <div class="call-to-action light layout-text">
      <div style="min-height: 230px;" class="left small-12 medium-9 large-6 cta-arrow">
        <h3 style="margin-top: 8px;    color: #FFF;  font-size: 30px;">Why choose Hystreet?</h3>
        <p>Hystreet is built from the ground-up for estate agents, by estate agents. Our development has always focused on what estate agents need and want from a CRM system that works for them. This means no complicated techy set-up and no dodgy work-arounds - just a great system that works.</p>
      </div>
      <div class="vs-play-button right large-3">
          <a href="//vimeo.com/video/234987696" data-lity><!-- <img src="/images/video-icon.png" alt="play button"> --></a>
      </div>
    </div>
  </div>
</div>
