---
title: Hystreet | Estate Agency Software
layout: default

members:
  -
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Awais.jpg
    name: "Awais Ahmad"
    position: "Founder & CEO"
  -
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Kevin.jpg
    name: "Kevin Carmody"
    position: "Chief Technical Officer"
  -
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Abdul.jpg
    name: "Abdul Hussain"
    position: "Co-founder & CSO"
  -
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: john-2.jpg
    name: "John Weaver"
    position: "Chief Operations Officer"
  -
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Eddie.jpg
    name: "Eddie Holmes"
    position: "Senior Advisor"
  -
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: James.jpg
    name: "James Dearsley"
    position: "Senior Advisor"
  -
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Adam.jpg
    name: "Adam Laws"
    position: "Success Manager"
  -
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Pete.jpg
    name: "Peter Chatterley"
    position: "Talent Finder"
  -
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Josh.jpg
    name: "Josh Brough"
    position: "Support Superstar"
  -
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Robin.jpg
    name: "Robin Lloyd"
    position: "Design Guru"
  -
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Antonio.jpg
    name: "Antonio De Abreaw"
    position: "Experience Master"
  -
    desc: "Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum."
    image: Dylan.jpg
    name: "Dylan Kinsella"
    position: "Digital Hero"
---
{% include awais-thoughts.html %}

<div class='full page-content'>
  <div class='row layout-text' style="margin: 50px auto;">
        	<h1 style="margin: 0 auto;">About us</h1>
        </div>
</div>
<div class='full' style="display:inline-block;">
    <div class='row layout-text'>
      <h2>Meet the Team</h2>
      <p>
        We're a friendly bunch of estate agents, property experts, and tech wizards with a common goal of making it much easier for high street agents to fight back against online estate agents.
      </p>
      {% for member in page.members %}
        <div class='medium-12 large-4 left'>
          <div class='member layout-text {{active_class}}'>
            <img src='{{site.url}}/images/{{member.image}}' alt='{{member.name}}'>
            <h3>{{member.name}}</h3>
            <p class='position'>{{member.position}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
   <div class='two spacing'></div>
</div>
