---
layout: default
---
<div class='full' style='background: URL("{{site.url}}/images/blue-awais.jpg");                                                  background-position:0% 20%;                                                  background-size:cover;'>
  <div class='row'>
    <div class='special-title layout-text' style="    z-index: 66; position: sticky;    vertical-align: middle;    margin-top: 10%;    margin-bottom:  10%;">
      <h2 style="margin-top: 8px; margin-bottom:20px; color: #FFF;font-size: 329%;font-weight: bolder;">Our Blog</h2>
      <p style="color:#FFFFFF;">Founder and CEO of Hystreet Awais Ahmad shares his thoughts in our blog.</p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
</div>
<div class='full' style="    height: fit-content;    background: #333;     box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);">
  <div class='row' style="max-width: 1003px; display:table;">
    <div class="subscribe-container">
      <h2 class="subscribe-title" style="margin-right:  20px;   color:#FFF">Subscribe to our blog:</h2>
      <form accept-charset="UTF-8" action="https://ge395.infusionsoft.com/app/form/process/3a2068882de6cd4ab24e281e9c53eedf" class="infusion-form" id="inf_form_3a2068882de6cd4ab24e281e9c53eedf" method="POST">
        <input name="inf_form_xid" type="hidden" value="3a2068882de6cd4ab24e281e9c53eedf" />
        <input name="inf_form_name" type="hidden" value="Web Form submitted" />
        <input name="infusionsoft_version" type="hidden" value="1.69.0.37" />
        <div class="infusion-field subscribe-field">
          <input class="infusion-field-input" id="inf_field_FirstName" name="inf_field_FirstName" placeholder="First Name *" type="text" style="color: #FFF" />
        </div>
        <div class="infusion-field subscribe-field">
          <input class="infusion-field-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email *" type="text" style="color: #FFF" />
        </div>
        <div class="infusion-submit subscribe-button" >
          <button style="margin:0 auto; display: block;     padding: 10px 20px;" class="button" type="submit">Sign up</button>
        </div>
      </form>
      <script type="text/javascript" src="https://ge395.infusionsoft.com/app/webTracking/getTrackingCode"></script>
      <script type="text/javascript" src="https://ge395.infusionsoft.com/resources/external/recaptcha/production/recaptcha.js?b=1.69.0.37-hf-201801311540"></script>
      <script type="text/javascript" src="https://ge395.infusionsoft.com/app/timezone/timezoneInputJs?xid=3a2068882de6cd4ab24e281e9c53eedf"></script>
    </div>
  </div>
</div>
<div class="full">
  <div class="row">
    {{ content }}
    {% if paginator %}
      <div class="pager">
        {% if paginator.next_page %} {% if paginator.next_page == 1 %}
        <a href="/blog" class="older">Older Entries</a> {% else %}
        <a href="/blog/page{{ paginator.next_page }}" class="older">Older Entries</a> {% endif %} {% else %}
        <span class="older">Older Entries</span> {% endif %} {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
        <a href="/blog" class="newer">Newer Entries</a> {% else %}
        <a href="/blog/page{{ paginator.previous_page }}" class="newer">Newer Entries</a> {% endif %} {% else %}
        <span class="newer">Newer Entries</span> {% endif %}
      </div>
    {% endif %}
  </div>
</div>
